@model PagingViewModel

	<div class="products-settings-option d-block d-md-flex">
		<nav class="page-pagination">
			<ul class="pagination">
				<li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
					<a class="page-link" asp-action="All" asp-route-id="@Model.PreviousPageNumber">&laquo;</a>
				</li>
				@for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
				{
					if (i > 0)
					{
						<li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>
					}
				}
				<li class="page-item active " aria-current="page">
					<a class="current">
						@Model.PageNumber
						<span class="sr-only ">(current)</span>
					</a>
				</li>
				@for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
				{
					if (i <= Model.PagesCount)
					{
						<li class="page-item"><a class="page-link" asp-action="All" asp-route-id="@i">@i</a></li>
					}
				}
				<li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
					<a class="page-link" asp-action="All" asp-route-id="@Model.NextPageNumber">&raquo;</a>
				</li>
			</ul>
		</nav>
	</div>
