@using GirlsHandmadeShop.Common
@model GirlsHandmadeShop.Web.ViewModels.Home.IndexViewModel
@{
	this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="banner-caption text-center">Welcome to @GlobalConstants.SystemName!</h1>

	<!--== Banner // Slider Area Start ==-->
	<section id="banner-area" class="banner__2">
		<div class="ruby-container">
			<div class="row">
				<div class="col-lg-12">
					<div id="banner-carousel" class="owl-carousel">
						<!-- Banner Single Carousel Start -->
						<div class="single-carousel-wrap slide-item-1">
							<div class="banner-caption text-center text-lg-left">
								<h4>Welcome to Girls Handmade Shop!</h4>
								<h2>Shine wherever you go!</h2>
								<p>Unique lace jewelry handmade in Bulgaria!</p>
								<a ha asp-area="" asp-controller="Products" asp-action="All" class="btn-long-arrow">Shop Now</a>
							</div>
						</div>
						<!-- Banner Single Carousel End -->
						<!-- Banner Single Carousel Start -->
						<div class="single-carousel-wrap slide-item-2">
							<div class="banner-caption text-center text-lg-left">
								<h4>New Collection 2021</h4>
								<h2>Beautiful Earrings</h2>
								<p>Check our our newest jewelry pieces.</p>
								<a a asp-area="" asp-controller="Products" asp-action="All" class="btn-long-arrow">Shop Now</a>
							</div>
						</div>
						<!-- Banner Single Carousel End -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--== Banner Slider End ==-->
	<!-- WILL BE IMPLEMENTED LATER -->
	<!--  Products Area Start -->
	<div id="featured-products-wrapper" class="p-9">
		<div class="ruby-container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<!-- Section Title Start -->
					<div class="section-title">
						<h2>Featured Products</h2>
						<p>Trending & Unique</p>
					</div>
					<!-- Section Title End -->
				</div>
			</div>

			<div class="products-wrapper products-gird">
				<div class="row custom-padding">
					<!-- Single Product Start -->
					@foreach (var product in this.Model.RandomProducts)
					{<div class="col-sm-6 col-lg-3">
							<div class="single-product-item">
								<figure class="product-thumb">
									<a asp-controller="Products" asp-action="ById" asp-route-id="@product.Id"><img src="@product.ImageUrl" alt="Product" class="img-fluid" /></a>
								</figure>
								<div class="product-details">
									<h2><a asp-controller="Products" asp-action="ById" asp-route-id="@product.Id">@product.Name</a></h2>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half"></i>
										<i class="fa fa-star-o"></i>
									</div>
									<span class="price">$@product.Price</span>
									<a href="single-product.html" class="btn btn-add-to-cart">+ Add to Cart</a>
								</div>
								<span class="product-bedge">New</span>
							</div>
						</div>}

					<!-- Single Product End -->
				</div>
			</div>
		</div>
	</div>
	<!--  Products Area End -->
	@*<div class="col-md-4">
			<p>We have:</p>
			<ul class="list-group">
				<li class="list-group-item bg-info">Products: @Model.ProductsCount</li>
				<li class="list-group-item bg-light">Categories: @Model.CategoriesCount</li>
				<li class="list-group-item bg-info">Images: @Model.ImagesCount</li>
			</ul>
		</div>*@

	<!-- Scroll to Top Start -->
	<a href="#" class="scrolltotop"><i class="fas fa-angle-up"></i></a>
	<!-- Scroll to Top End -->

</div>


