@model GirlsHandmadeShop.Web.ViewModels.Products.ProductsListViewModel
@{
	this.ViewData["Title"] = "All Products, page " + Model.PageNumber;
}

@if (this.TempData.ContainsKey("Message"))
{
	<div class="alert alert-success">@this.TempData["Message"]</div>
}

@*@model ComplexModel<GirlsHandmadeShop.Web.ViewModels.Carts.AddToCartInputModel, GirlsHandmadeShop.Web.ViewModels.Products.ProductsListViewModel>
@{

}

}
@{
	var viewModel = Model.ViewModel;
	var inputModel = Model.InputModel;
}*@

@*<h1>@this.ViewData["Title"]</h1>*@

<!--== Page Title Area Start ==-->
<div id="page-title-area">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="page-title-content">
					<h1>Shop</h1>
					<ul class="breadcrumb">
						<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
						<li><a asp-area="" asp-controller="Products" asp-action="All" class="active">Shop</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--== Page Title Area End ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper" class="p-9">
	<div class="ruby-container">
		<div class="row">
			<!-- Sidebar Area Start -->
			<div class="col-lg-3 mt-5 mt-lg-0">
				<div id="sidebar-area-wrap">
					<!-- Single Sidebar Item Start -->
					<div class="single-sidebar-wrap">
						<h2 class="sidebar-title">Shop By</h2>
						<div class="sidebar-body">
							<div class="shopping-option">
								<h3>Shopping Options</h3>
								<div class="shopping-option-item">
									<h4>Color</h4>
									<ul class="color-option-select d-flex">
										<li class="color-item black">
											<div class="color-hvr">
												<span class="color-fill"></span>
												<span class="color-name">Black</span>
											</div>
										</li>

										<li class="color-item green">
											<div class="color-hvr">
												<span class="color-fill"></span>
												<span class="color-name">green</span>
											</div>
										</li>

										<li class="color-item red">
											<div class="color-hvr">
												<span class="color-fill"></span>
												<span class="color-name">red</span>
											</div>
										</li>

										<li class="color-item yellow">
											<div class="color-hvr">
												<span class="color-fill"></span>
												<span class="color-name">yellow</span>
											</div>
										</li>

										<li class="color-item orange">
											<div class="color-hvr">
												<span class="color-fill"></span>
												<span class="color-name">Orange</span>
											</div>
										</li>
									</ul>
								</div>
								<div class="single-sidebar-wrap">
									<div class="text-lg-right">
										<a href="#" class="btn-add-to-cart">FILTER</a>
									</div>
								</div>

								<div class="shopping-option-item">
									<h4>CATEGORIES</h4>

									<ul class="sidebar-list">
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="6">Necklaces</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="7">Bracelets</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="8">Earrings</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="9">Accessories</a></li>
									</ul>
								</div>

								<div class="single-sidebar-wrap">
									<div class="text-lg-right">
										<a href="#" class="btn-add-to-cart">FILTER</a>
									</div>
								</div>

								<div class="shopping-option-item">
									<h4>Price</h4>
									<ul class="sidebar-list">
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="10">$0.00 - $20.00</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="11">$21.00 - $40.00</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="12">$41.00 - $60.00</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="13">$61.00 - $80.00</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="14">$81.00 - $100.00</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="15">$100.00+</a></li>
									</ul>
								</div>
								<div class="single-sidebar-wrap">
									<div class="text-lg-right">
										<a href="#" class="btn-add-to-cart">FILTER</a>
									</div>
								</div>

								<div class="shopping-option-item">
									<h4>MATERIALS</h4>

									<ul class="sidebar-list">
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="16">Swarovski pearls</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="17">Swarovski crystals</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="18">Natural stones</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="19">Japanese beads</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="20">Czech beads</a></li>
										<li><a asp-controller="Products" asp-action="Sort" asp-route-sorting="21">Silver hooks</a></li>
									</ul>
								</div>




							</div>
						</div>
					</div>
					<div class="single-sidebar-wrap">
						<div class="text-lg-right">
							<a href="#" class="btn-add-to-cart">FILTER</a>
						</div>
					</div>

					<!-- Single Sidebar Item End -->
					<!-- Single Sidebar Item Start -->

					<div class="single-sidebar-wrap">
						<h2 class="sidebar-title">My Wish List</h2>
						<div class="sidebar-body">
							<div class="small-product-list">
								<div class="single-product-item">
									<figure class="product-thumb">
										<a href="#">
											<img class="mr-2 img-fluid" src="~/assets/img/product-2.jpg"
												 alt="Products" />
										</a>
									</figure>
									<div class="product-details">
										<h2><a href="#">Sprite Yoga Companion Kit</a></h2>
										<span class="price">$6.00</span>
										<a href="#" class="btn-add-to-cart">+ Add to Cart</a>
									</div>
								</div>

								<div class="single-product-item">
									<figure class="product-thumb">
										<a href="#">
											<img class="mr-2 img-fluid" src="~/assets/img/product-3.jpg"
												 alt="Products" />
										</a>
									</figure>
									<div class="product-details">
										<h2><a href="#">Set of Sprite Yoga Straps</a></h2>
										<span class="price">$88.00</span>
										<a href="#" class="btn-add-to-cart">+ Add to Cart</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Single Sidebar Item End -->

				</div>
			</div>
			<!-- Sidebar Area End -->
			<!-- Shop Page Content Start -->
			<div class="col-lg-9 order-first order-lg-last">
				<div class="shop-page-content-wrap">
					<div class="products-settings-option d-block d-md-flex">
						<div class="product-cong-left d-flex align-items-center">
							<ul class="product-view d-flex align-items-center">
								<li class="current column-gird"><i class="fa fa-bars fa-rotate-90"></i></li>
								<li class="box-gird"><i class="fa fa-th"></i></li>
								<li class="list"><i class="fa fa-list-ul"></i></li>
							</ul>
							<span class="show-items">Items 1 - 12 of @Model.ProductsCount</span>
						</div>
						@*Some CSS style added out of the theme*@
						<style>
							.dropbtn {
								background-color: #d82e2e;
								color: white;
								padding: 16px;
								font-size: 16px;
								border: none;
								cursor: pointer;
							}

							.dropdown-content {
								display: none;
								position: absolute;
								background-color: #f9f9f9;
								min-width: 160px;
								box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
								z-index: 1;
							}

								.dropdown-content a {
									color: black;
									padding: 12px 16px;
									text-decoration: none;
									display: block;
								}

									.dropdown-content a:hover {
										background-color: #f1f1f1
									}

							.dropdown:hover .dropdown-content {
								display: block;
							}

							.dropdown:hover .dropbtn {
								background-color: #3e8e4;
							}
						</style>

						<div class="dropdown">
							<button class="dropbtn">Sort By</button>
							<div class="dropdown-content">

								<li class="dropdown-item">
									<a asp-controller="Products" asp-action="Sort" asp-route-sorting="1">Relevance</a>
								</li>

								<li class="dropdown-item" value="Name Ascen">
									<a asp-controller="Products" asp-action="Sort" asp-route-sorting="2">Name, A to Z</a>
								</li>

								<li class="dropdown-item" value="Name Decen">
									<a asp-controller="Products" asp-action="Sort" asp-route-sorting="3">Name, Z to A</a>
								</li>

								<li class="dropdown-item" value="Price Ascen">
									<a asp-controller="Products" asp-action="Sort" asp-route-sorting="4">Price low to high</a>
								</li>

								<li class="dropdown-item" value="Price Decen">
									<a asp-controller="Products" asp-action="Sort" asp-route-sorting="5">Price high to low</a>
								</li>

							</div>
						</div>


						@*<div class="product-sort_by d-flex align-items-center mt-3 mt-md-0 mega-menu-wrap dropdown-nav">
								<label for="sort">Sort By:</label>
								<ul name="sort" id="sort" class="mega-menu-wrap dropdown-nav">


									<li class="dropdown-item">
										<a asp-controller="Products" asp-action="Sort" asp-route-sorting="1">Relevance</a>
									</li>

									<li class="dropdown-item" value="Name Ascen">
										<a asp-controller="Products" asp-action="Sort" asp-route-sorting="2">Name, A to Z</a>
									</li>

									<li class="dropdown-item" value="Name Decen">
										<a asp-controller="Products" asp-action="Sort" asp-route-sorting="3">Name, Z to A</a>
									</li>

									<li class="dropdown-item" value="Price Ascen">
										<a asp-controller="Products" asp-action="Sort" asp-route-sorting="4">Price low to high</a>
									</li>

									<li class="dropdown-item" value="Price Decen">
										<a asp-controller="Products" asp-action="Sort" asp-route-sorting="5">Price high to low</a>
									</li>



								</ul>
							</div>*@
					</div>

					<div class="shop-page-products-wrap">
						<div class="products-wrapper">

							<div class="row">
								@foreach (var product in Model.Products)
								{
									<div class="col-lg-4 col-sm-6">
										<!-- Single Product Item -->

										<div class="single-product-item text-center">
											<figure class="product-thumb">
												<a asp-action="ById" asp-route-id="@product.Id">
													<img src="@product.ImageUrl"
														 alt="Products" class="img-fluid">
												</a>
											</figure>

											<div class="product-details">
												<h2><a asp-action="ById" asp-route-id="@product.Id">@product.Name</a></h2>
												<div class="rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-half"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<span class="price">$@product.Price</span>
												<p class="products-desc">
													@product.Description
												</p>
												@*<a asp-controller="Carts" asp-action="AddToCart" type="submit" class="btn btn-add-to-cart">+ Add to Cart</a>*@
												<a href="single-product.html" class="btn btn-add-to-cart btn-whislist">
													+
													Wishlist
												</a>

												<div class="btn-group cart product-page-addToCart-container">
													<form method="post" class="product-page-addToCart-form">
														<input type="hidden" name="ProductId" value="@product.Id" />
														<input type="hidden" name="Quantity" class="product-page-addToCart-quantityInStock" value=1 />
														<button asp-controller="Carts" asp-action="AddToCart" asp-route-productId="@product.Id)" type="submit" class="btn btn-add-to-cart">
															Add to Cart
														</button>
														<label for="Quantity" class="product-page-addToCart-quantity-label">Qty:</label>
														<input type="number" class="product-page-addToCart-quantity" name="Quantity" value="1" />
														<div class="product-page-addToCart-validationMessage-container">

														</div>
													</form>
												</div>

											</div>

											<div class="product-meta">
												<button type="button" data-toggle="modal" data-target="#quickView">
													<span data-toggle="tooltip" data-placement="left" title="Quick View">
														<i class="fa fa-compress"></i>
													</span>
												</button>
												<a href="#" data-toggle="tooltip" data-placement="left"
												   title="Add to Wishlist">
													<i class="fa fa-heart-o"></i>
												</a>
											</div>
											<span class="product-bedge">New</span>
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>

				<div class="products-settings-option d-block d-md-flex justify-content-center">
					<nav class="page-pagination">
						<ul class="pagination">
							<partial name="_PagingPartial" model="@Model" />
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- Shop Page Content End -->


	</div>
</div>
<!--== Page Content Wrapper End ==-->
<!--== Product Quick View Modal Area Wrap ==-->
<div class="modal fade" id="quickView" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"><img src="~/assets/img/cancel.png" alt="Close" class="img-fluid" /></span>
			</button>
			<div class="modal-body">
				<div class="quick-view-content single-product-page-content">
					<div class="row">
						@*Product Thumbnail Start*@
						<div class="col-lg-5 col-md-6">
							<div class="product-thumbnail-wrap">
								<div class="product-thumb-carousel owl-carousel">
									<div class="single-thumb-item">

										<a href="single-product.html">
											<img class="img-fluid"
												 src="~/assets/img/single-pro-thumb.jpg"
												 alt="Product" />
										</a>

									</div>
								</div>
							</div>
						</div>

						@*Product Thumbnail End
							Product Details Start*@

						<div class="col-lg-7 col-md-6 mt-5 mt-md-0">
							<div class="product-details">
								<h2><a href="single-product.html">Crown Summit Backpack</a></h2>

								<div class="rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half"></i>
									<i class="fa fa-star-o"></i>
								</div>

								<span class="price">$52.00</span>

								<div class="product-info-stock-sku">
									<span class="product-stock-status">In Stock</span>
									<span class="product-sku-status ml-5"><strong>SKU</strong> MH03</span>
								</div>

								<p class="products-desc">
									Ideal for cold-weathered training worked lorem ipsum outdoors,
									the Chaz Hoodie promises superior warmth with every wear. Thick material blocks out
									the wind as ribbed cuffs and bottom band seal in body heat Lorem ipsum dolor sit
									amet, consectetur adipisicing elit. Enim, reprehenderit.
								</p>
								<div class="shopping-option-item">
									<h4>Color</h4>
									<ul class="color-option-select d-flex">
										<li class="color-item black">
											<div class="color-hvr">
												<span class="color-fill"></span>
												<span class="color-name">Black</span>
											</div>
										</li>

										<li class="color-item green">
											<div class="color-hvr">
												<span class="color-fill"></span>
												<span class="color-name">green</span>
											</div>
										</li>

										<li class="color-item orange">
											<div class="color-hvr">
												<span class="color-fill"></span>
												<span class="color-name">Orange</span>
											</div>
										</li>
									</ul>
								</div>

								<div class="product-quantity d-flex align-items-center">
									<div class="quantity-field">
										<label for="qty">Qty</label>
										<input type="number" id="qty" min="1" max="100" value="1" />
									</div>

									<a href="cart.html" class="btn btn-add-to-cart">Add to Cart</a>
								</div>
							</div>
						</div>
						@*Product Details End*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--== Product Quick View Modal Area End ==-->
<!-- End All Modal Content -->
