@using GirlsHandmadeShop.Common
@model GirlsHandmadeShop.Web.ViewModels.Products.SingleProductViewModel
@{
	this.ViewData["Title"] = Model.Name;
}

<!--== Page Title Area Start ==-->
<div id="page-title-area">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="page-title-content">
					<ul class="breadcrumb">
						<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
						<li><a asp-area="" asp-controller="Products" asp-action="All">Shop</a></li>
						<li><a href="single-product.html" class="active">@Model.Name</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--== Page Title Area End ==-->
<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper" class="p-9">
	<div class="ruby-container">
		<div class="row">
			<!-- Single Product Page Content Start -->
			<div class="col-lg-12">
				<div class="single-product-page-content">
					<div class="row">
						<!-- Product Thumbnail Start -->
						<div class="col-lg-5">

							<div class="product-thumbnail-wrap">

								<div class="product-thumb-carousel owl-carousel">

									<div class="single-thumb-item">
										<a>
											<img class="img-fluid"
												 src="@Model.ImageUrl"
												 alt="Product" />
										</a>
									</div>
								</div>
							</div>

						</div>
						<!-- Product Thumbnail End -->
						<!-- Product Details Start -->
						<div class="col-lg-7 mt-5 mt-lg-0 pl-5">
							<div class="product-details">
								<h2><a href="single-product.html">@Model.Name</a></h2>

								<div class="rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half"></i>
									<i class="fa fa-star-o"></i>
								</div>

								<span class="price">$@Model.Price</span>

								<div class="product-info-stock-sku">
									<span class="product-stock-status">In Stock</span>

								</div>

								<p class="products-desc">
									@Model.Description
								</p>

								<div class="product-full-info-reviews">
									<div class="form-group"> 
										<h3 class="shopping-option-item">Materials</h3>

										@foreach (var material in Model.Materials)
										{
											<ul>
												<li><i class="far fa-dot-circle"></i> * @material.MaterialName</li>
											</ul>
											
										}
									</div>
								</div>


								<div class="shopping-option-item">
									<h4>Color</h4>
									<ul class="color-option-select d-flex">
										<li class="color-item black">
											<div class="color-hvr">
												<span class="color-fill"></span>
												<span class="color-name">Black</span>
											</div>
										</li>

										<li class="color-item green">
											<div class="color-hvr">
												<span class="color-fill"></span>
												<span class="color-name">green</span>
											</div>
										</li>

										<li class="color-item orange">
											<div class="color-hvr">
												<span class="color-fill"></span>
												<span class="color-name">Orange</span>
											</div>
										</li>
									</ul>
								</div>

								<div class="product-quantity d-flex align-items-center">
									<a href="single-product.html" target="_blank" class="btn btn-add-to-cart">
										<i class="fa fa-shopping-cart"></i> Buy Now
									</a>
								</div>
							</div>
						</div>
						<!-- Product Details End -->
					</div>

					<div class="row">
						<div class="col-lg-12">
							<!-- Product Full Description Start -->
							<div class="product-full-info-reviews">
								<!-- Single Product tab Menu -->
								<nav class="nav" id="nav-tab">
									
									<a id="reviews-tab" data-toggle="tab" href="#reviews">Reviews</a>
								</nav>
								<!-- Single Product tab Menu -->
								<!-- Single Product tab Content -->
								<div class="tab-content" id="nav-tabContent">
									

									<div class="" id="reviews">
										<div class="row">
											<div class="col-lg-7">
												<div class="product-ratting-wrap">
													<div class="pro-avg-ratting">
														<h4>4.5 <span>(Overall)</span></h4>
														<span>Based on 9 Comments</span>
													</div>
													<div class="ratting-list">
														<div class="sin-list float-left">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<span>(5)</span>
														</div>
														<div class="sin-list float-left">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<span>(3)</span>
														</div>
														<div class="sin-list float-left">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<span>(1)</span>
														</div>
														<div class="sin-list float-left">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<span>(0)</span>
														</div>
														<div class="sin-list float-left">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<span>(0)</span>
														</div>
													</div>
													<div class="rattings-wrapper">

														<div class="sin-rattings">
															<div class="ratting-author">
																<h3>Cristopher Lee</h3>
																<div class="ratting-star">
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<span>(5)</span>
																</div>
															</div>
															<p>
																enim ipsam voluptatem quia voluptas sit aspernatur aut
																odit aut fugit, sed quia res eos qui ratione voluptatem
																sequi Neque porro quisquam est, qui dolorem ipsum quia
																dolor sit amet, consectetur, adipisci veli
															</p>
														</div>

														<div class="sin-rattings">
															<div class="ratting-author">
																<h3>Nirob Khan</h3>
																<div class="ratting-star">
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<span>(5)</span>
																</div>
															</div>
															<p>
																enim ipsam voluptatem quia voluptas sit aspernatur aut
																odit aut fugit, sed quia res eos qui ratione voluptatem
																sequi Neque porro quisquam est, qui dolorem ipsum quia
																dolor sit amet, consectetur, adipisci veli
															</p>
														</div>

														<div class="sin-rattings">
															<div class="ratting-author">
																<h3>MD.ZENAUL ISLAM</h3>
																<div class="ratting-star">
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<i class="fa fa-star"></i>
																	<span>(5)</span>
																</div>
															</div>
															<p>
																enim ipsam voluptatem quia voluptas sit aspernatur aut
																odit aut fugit, sed quia res eos qui ratione voluptatem
																sequi Neque porro quisquam est, qui dolorem ipsum quia
																dolor sit amet, consectetur, adipisci veli
															</p>
														</div>

													</div>
													<div class="ratting-form-wrapper fix">
														<h3>Add your Comments</h3>
														<form action="#" method="post">
															<div class="ratting-form row">
																<div class="col-12 mb-4">
																	<h5>Rating:</h5>
																	<div class="ratting-star fix">
																		<i class="fa fa-star-o"></i>
																		<i class="fa fa-star-o"></i>
																		<i class="fa fa-star-o"></i>
																		<i class="fa fa-star-o"></i>
																		<i class="fa fa-star-o"></i>
																	</div>
																</div>
																<div class="col-md-6 col-12 mb-4">
																	<label for="name">Name:</label>
																	<input id="name" placeholder="Name" type="text">
																</div>
																<div class="col-md-6 col-12 mb-4">
																	<label for="email">Email:</label>
																	<input id="email" placeholder="Email" type="text">
																</div>
																<div class="col-12 mb-4">
																	<label for="your-review">Your Review:</label>
																	<textarea name="review" id="your-review"
																			  placeholder="Write a review"></textarea>
																</div>
																<div class="col-12">
																	<input value="add review" type="submit">
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Single Product tab Content -->
							</div>
							<!-- Product Full Description End -->
						</div>
					</div>
				</div>
			</div>
			<!-- Single Product Page Content End -->
		</div>
	</div>
</div>
<!--== Page Content Wrapper End ==-->
